@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
html {
  font-size: 62.5%; /* 1rem=10px*/
  overflow-x: hidden;
}
@media (width<300px) {
  html {
    font-size: 50%;
  }
  
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* =========header============= */

/*=====header=====*/
.header {
  padding: 2rem 9%;
  background-color: var(--bg-color);
}
.logo {
  font-size: 3.5rem !important;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
.logo span {
  color: var(--main-color);
}
.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color) !important;
}
.navbar-toggler-icon {
  background-color: var(--main-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--main-color);
}

/* contact*/
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.heading {
  text-align: center;
  font-size: 4.5rem;

  margin-bottom: 4rem;
}
span {
  color: var(--main-color);
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  max-width: 100rem;
  width: 100rem;
}
.contact-box {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-box input,
textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.input-box input {
  width: 49%;
}
textarea {
  resize: none;
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.5rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5 ease;
  cursor: pointer;
  margin-top: 2rem;
}
.btn:hover {
  box-shadow: none;
}
/*====footer====*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: var(--second-bg-color);
}
.footer-text p {
  font-size: 1.6em;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}
